header{
    width: 100%;
    background-color: #DDDDDD;
}

main{
    margin: 10px;
}

footer{
    background-color: #DDDDDD;
}

.controllSection {
    display: block;
    margin: 20px;
}

.controllSection:first-child{
    margin-top: 0;
}
.controllSection:last-child{
    margin-bottom: 0;
}

.cell{
    background-color: #000000;
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 0;
    padding: 0;
}